
.button {
  width: 100%;
  height: 40px;
  margin-bottom: 0;
  padding: 10px 15px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;
  letter-spacing: normal;
  @include transition(all .2s ease-in-out);
  cursor: pointer;
  border: none;
  background-color: $iris;
  color: white;
  max-width: none;

  &:hover {
    background-color: darken($iris, 10%)
  }
}
