
.menu-left-link {
  position: relative;
  padding: 10px;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.link {
  text-decoration: none;
  color: $basic-grey;
  text-align: center;
  line-height: 10px;
}

.linkActive {
  color: $iris;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin-right: 10px;
  width: 25px;
}
